#container{
    font-size: 30px;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
  place-items: center;
    transform: translate(-50%, -50%);
    box-shadow: rgb(250, 4, 4) 0px 20px 30px -10px;
    border-radius: 30px;
    background: #000000;
    padding: 2%;
    border: 4px solid rgb(255, 242, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    

}




#title{
    color: #ce11e3;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px #0b0709;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}    





/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.output{
    text-shadow: 1px 1px #ff0000;

}