

.title{
color: goldenrod;
margin-top: 50px;
text-align: center;
font-size: 60px;

}

.container{
 margin-left: auto;
 margin-right: auto ;
border-radius: 2px soid red;
    height: 300px;
    background: #fff;
    width: 500px;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

#inputTime{
border-radius: 50px;
height: 30px;
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
color: #5B42F3;



    }

.info{
    margin-left: 40px;
    
}

#count{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

#btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #E21717;
    align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
    
}

