*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    margin-top: -50px;
    font-size: 30px;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
  place-items: center;
    transform: translate(-50%, -50%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
    background: #DDD101;

}


#input{
    width: 90%;
    height: 100px;
}

#title{
    color: #E21717;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    
}    
